<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
        background-color: #eee;
      }
      #container {
        height: 450px;
      }
    </style>
  </head>
  <body>
    <div id="container"></div>

    <script src="../../../lib/three.min.js"></script>
    <script src="../../../lib/moment.min.js"></script>
    <script src="../../../dist/meteorcharts-dev.js"></script>

    <script type="text/javascript">
      MeteorChart.debug = true;

      var chart = new MeteorChart({
        container: 'container',
        width: 500,
        height: 290,

        theme: MeteorChart.Themes.CoteAzur,
        layout: MeteorChart.Layouts.L4,

        components: [
          {
            slot: 0,
            type: 'Axis',
            id: 'yAxis',
            data: function() {
              return [30, 40, 50, 60, 70, 80, 90, 100]
            },
            style: {
              increment: 100
            }
          },
          {
            slot: 1,
            type: 'BarSeries',
            id: 'barSeries',
            data: [
              {
                title: 'Series 1',
                values: {
                  'Texas': 50,
                  'California': 100,
                  'Florida': 30
                }
              }
            ]
          },
          {
            slot: 2,
            type: 'Axis',
            id: 'xAxis',
            data: function() {
              return ['Texas', 'California', 'Florida']
            }
          }
        ]
      });

      console.log(chart);
    </script>
  </body>
</html>