<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
        background-color: #eee;
      }
      .layout {
        padding: 10px;
        display: inline-block;
      }
      .theme {

      }

      .theme h2 {
        font-family: Arial;
        font-size: 30px;
        color: #555;
        padding: 10px 0 0 10px;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <ul id="options"></ul>

    <script src="../../../lib/moment.min.js"></script>
    <script src="../../../dist/meteorcharts-dev.js"></script>

    <script src="../../js/chart-wizard.js"></script>
  </body>
</html>