<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
        background-color: #eee;
      }
      #container {
        height: 450px;
      }
    </style>
  </head>
  <body>
    <div id="container"></div>

    <script src="../../../lib/three.min.js"></script>
    <script src="../../../lib/moment.min.js"></script>
    <script src="../../../dist/meteorcharts-dev.js"></script>

    <script type="text/javascript">
      MeteorChart.debug = true;

      var chart = new MeteorChart({
        container: 'container',
        width: 500,
        height: 290,

        theme: MeteorChart.Themes.CoteAzur,
        layout: MeteorChart.Layouts.L6,

        // set components data and styles
        components: [
          {
            slot: 3,
            type: 'Legend',
            id: 'legend',
            orientation: 'vertical',
            data: function() {
              return this.chart.components.lineSeries.get('data'); 
            }
          },
          {
            slot: 0,
            type: 'Axis',
            id: 'yAxis',
            data: function() {
              return this.chart.components.lineSeries.getViewportMinMaxY();
            },
            style: {
              increment: 100
            }
          },
          {
            slot: 1,
            type: 'LineSeries',
            id: 'lineSeries',
            data: {
              series: [
                {
                  title: 'Series 1',
                  points: [
                    -100, -100,
                    100, 100,
                    200, 50
                  ]
                },
                {
                  title: 'Series 2',
                  points: [
                    0, 100,
                    100, 200,
                    200, 150,
                    300, 200
                  ]
                }
              ]
            }
          },
          {
            slot: 2,
            type: 'Axis',
            id: 'xAxis',
            data: function() {
              return this.chart.components.lineSeries.getViewportMinMaxX();
            },
            style: {
              increment: 100
            }
          }
        ]
      });

      console.log(chart);
    </script>
  </body>
</html>